body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto Regular, Arial, sans-serif;
}
h2 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	padding-top: 30px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
}
.about-title {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	padding-top: 30px;
}
.info-digit {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto Medium, Arial, sans-serif;
	vertical-align: top;
}
.upper {
	font-size: 23px;
	line-height: 23px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto Medium, Arial, sans-serif;
	vertical-align: top;
}
.about-info-text {
	font-size: 16px;
	line-height: 18px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto Regular, Arial, sans-serif;
}

/*Сетка*/

body {
	padding: 0;
	margin: 0;
	background: url(../img/nerds-index.jpg) no-repeat;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.header {
	min-height: 50px;
	background-color: #eeeeee;
	padding: 0 20px;
}
.header-top {
	margin: 0 auto;
	width: 1160px;
	padding-top: 50px;
}
.header-logo {
	float: left;
	width: 360px;
	line-height: 0;
}
.header-nav {
	float: left;
	width: 640px;
}
.basket {
	float: right;
	width: 160px;
	padding-top: 28px;
}
.nav-list {
	padding-top: 28px;
	margin: 0;
}
.nav-list li {
	display: inline;
	padding-right: 50px;
}
.header-slider {
	position: relative;
	height: 430px;
	margin: 0 auto;
	width: 1160px;
}
.slide {
	position: absolute;
}
.slide:nth-child(n+2) {
	display: none;
}
.container {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 20px;
}
.portfolio {
	margin-bottom: 80px;
}
.portfolio-box {
	float: left;
	width: 300px;
	margin-top: 80px;
	margin-right: 100px;
}
.portfolio-box:nth-child(3) {
	float: right;
	margin-right: 60px;
}
.porfolio-btn {
	height: 52px;
	border: none;
}
.about {
	margin-top: 80px;
	margin-bottom: 75px;
}
.about-content {
	float: left;
	width: 660px;
	padding-top: 50px;
}
.about-info {
	float: right;
	width: 360px;
	padding-top: 42px;
}
.about-info-list {
	margin: 0;
	padding: 0;
}
.about-info-list li {
	display: inline-block;
	width: 32%;
}
.clients {
	display: block;
	height: 180px;
}
.clients-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clients-list li {
	display: inline-block;
	border-right: 2px solid #eeeeee;
	width: 280px;
}
.clients-list li:last-child {
	border-right: none;
}
.clients-list li img {
	display: block;
	margin: 0 auto;
}
.footer {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.map {
	width: 100%;
	height: 416px;
	background: url(../img/map.jpg);
}
.social {
	display: block;
	float: left;
	width: 360px;
	margin-right: 20px;
}
.social-links li {
	display: inline;
	padding: 10px;
}
.cooperation {
	display: block;
	float: left;
	width: 760px;
}
