@font-face {
	font-family: 'Roboto';
	url('../fonts/roboto.woff') format('woff'),
	url('../fonts/roboto.woff2') format('woff2'),
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Medium';
	url('../fonts/robotomedium.woff') format('woff'),
	url('../fonts/robotomedium.woff2') format('woff2'),
	font-weight: normal;
	font-style: normal;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
body {
	min-width: 1160px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
.header {
	min-height: 50px;
	background-color: #eee;
	padding: 0 20px;
}
.header-top {
	margin: 0 auto;
	width: 1160px;
	padding-top: 50px;
}
.header-logo {
	float: left;
	width: 360px;
	line-height: 0;
}
.header-nav {
	float: left;
	width: 640px;
}
.nav-list {
	padding: 0;
	padding-top: 25px;
	margin: 0;
}
.nav-list li {
	display: inline-block;
	vertical-align: top;
	margin-right: 44px;
}
.nav-list a {
	font-size: 16px;
	line-height: 30px;
	color: #000;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
.basket {
	float: right;
	width: 160px;
	padding-top: 25px;
}
.basket a {
	font-size: 16px;
	line-height: 30px;
	color: #000;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
.basket a:hover {
	color: #444;
}
.header-slider {
	position: relative;
	height: 430px;
	margin: 0 auto;
	width: 1160px;
}
.slide {
	position: absolute;
}
.slide:nth-child(n+2) {
	display: none;
}
.slide-text h2 {
	width: 520px;
}
.slide-text p {
	width: 410px;
}
h2 {
	font-size: 55px;
	line-height: 55px;
	color: #000;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	padding-top: 30px;
}
.slide-btn {
	display: inline-block;
	vertical-align: middle;
	width: 240px;
	height: 52px;
	border: none;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.portfolio {
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 80px;
}
.portfolio-box {
	float: left;
	width: 300px;
	margin-top: 80px;
	margin-right: 100px;
}
.portfolio-box:nth-child(3) {
	float: right;
	margin-right: 60px;
}
h3 {
	font-size: 24px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
	text-transform: uppercase;
}
.porfolio-btn {
	height: 52px;
	border: none;
}
.about {
	border-bottom: 2px solid #eeeeee;
	padding-bottom: 60px;
}
.about-content {
	float: left;
	width: 670px;
	padding-top: 50px;
}
.about-title {
	font-size: 45px;
	line-height: 45px;
	color: #000;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	padding-top: 30px;
}
.about-content-title {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
	text-transform: uppercase;
}
.about-content-list {
	margin: 0;
	padding: 0;
}
.about-content-list li {
	list-style: none;
	padding-left: 35px;
	padding-bottom: 20px;
}
.about-info {
	float: right;
	width: 360px;
	padding-top: 42px;
	text-align: center;
}
.about-info-list {
	margin: 0;
	padding: 10px 0;
	text-align: left;
}
.about-info-list li {
	display: inline-block;
	vertical-align: top;
	width: 32%;
}
.info-digit {
	font-size: 45px;
	line-height: 45px;
	color: #000;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
	display: block;
	width: 107px;
	padding-top: 25px;
}
.upper {
	font-size: 23px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	font-family: Roboto Medium, Arial, sans-serif;
	vertical-align: top;
}
.about-info-text {
	font-size: 16px;
	line-height: 18px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto, Arial, sans-serif;
	display: block;
	width: 107px;
	padding-top: 25px;
}
.clients {
	border-bottom: 2px solid #eee;
	margin-bottom: 60px;
}
.clients-list {
	margin: 0;
	margin-top: 45px;
	padding: 0;
	list-style: none;
	vertical-align: bottom;
	font-size: 0;
}
.clients-list li {
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	margin: 0 20px 45px;
}
.clients-list li:nth-child(4n+1) {
	margin-left: 0;
}
.clients-list li:nth-child(4n) {
	margin-right: 0;
}
.clients-list img {
	display: block;
	margin: 0 auto;
}
.footer {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.map {
	height: 416px;
	background: #eee url(../img/map.jpg) no-repeat center center;
}
.contacts {
	position: relative;
	top: 35px;
	display: block;
	background: #fff;
	width: 320px;
	/*	height: 310px;*/
	margin: 54px 0 0 370px;
	padding: 55px 50px 50px;
}
.contacts-email {
	display: block;
	width: 220px;
	height: 52px;
	border: none;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	background-color: #fb565a;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
.contacts-title {
	font-size: 16px;
	line-height: 18px;
	color: #283136;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
	text-transform: uppercase;
}
.footer-bottom {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.social {
	float: left;
	width: 280px;
	margin-right: 100px;
	margin-top: 20px;
}
.social-links {
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-links-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
	position: relative;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
	border-radius: 40px;
}
.social-links-item:hover {
	background-color: #e74246;
}
.social-icon {
	top: 50%;
	left: 50%;
	margin-left: -13px;
	margin-top: -13px;
	position: absolute;
	width: 26px;
	height: 26px;
	background: url(../img/sprite-icons.png) no-repeat;
}
.vk {
	background-position: 0px 6px;
}
.fb {
	background-position: -55px 1px;
}
.inst {
	background-position: -111px 2px;
}
.social-icon:hover {
	filter: invert(50%);
}
.cooperation {
	float: left;
	width: 760px;
}
.cooperation-title {
	font-size: 36px;
	line-height: 36px;
	color: #000;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
	margin: 30px 20px 0;
	padding: 0;
}
.cooperation-text {
	font-size: 16px;
	line-height: 22px;
	color: #444;
	font-weight: normal;
	font-family: Roboto, Arial, sans-serif;
	margin: 10px 20px 30px;
	padding: 0;
}
