body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	font-family: Roboto Regular, Arial, sans-serif;
}
h2 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: normal;
	font-family: Roboto Medium, Arial, sans-serif;
}
h3 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: Roboto, Arial, sans-serif;
}

/*Сетка*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.header {
	padding: 0 20px;
	margin: 50px auto;
	width: 1160px;
	height: 545px;
}
.header-logo {
	display: block;
	float: left;
	width: 360px;
}
.header-nav {
	display: block;
	float: left;
	width: 640px;
}
.basket {
	display: block;
	float: right;
	width: 160px;
}
.container {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 20px;
}
.portfolio-box {
	display: block;
	float: left;
	width: 300px;
	margin-left: 40px;
	margin-right: 60px;
}
.portfolio-box:first-child {
	margin-left: 0;
}
.about {
	margin-top: 40px;
	margin-bottom: 75px;
}
.about-content {
	display: block;
	float: left;
	width: 660px;
}
.about-info {
	display: block;
	float: right;
	width: 360px;
}
.clients {
	height: 180px;
}
.footer {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.map {
	width: 416px;
}
.social {
	display: block;
	float: left;
	width: 360px;
	margin-right: 20px;
}
.cooperation {
	display: block;
	float: left;
	width: 760px;
}
